<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-YLk96njGkXXXZ7ymrLoEGDmxoU77wLU</string>
	<key>GCM_SENDER_ID</key>
	<string>215944133879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fmaslat.BuildCompat</string>
	<key>PROJECT_ID</key>
	<string>buildcompat</string>
	<key>STORAGE_BUCKET</key>
	<string>buildcompat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215944133879:ios:dba5201135fc1a5cce27f2</string>
</dict>
</plist>